@page
@model Tufesa_Dev_Test.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" id="Customers_Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].BornDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BornDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#Customers_Table').DataTable();
    });
</script>
